<%- layout("/layouts/boilerplate") %>

<div class="container d-flex justify-content-center align-items-center" style="min-height: 90vh;">
  <div class="col-md-4">

    <div class="card shadow p-4">
      <h3 class="text-center mb-3">Create Account</h3>

      <form action="/register" method="POST">

        <div class="mb-3">
          <label>Username</label>
          <input type="text" name="username" class="form-control" required>
        </div>

        <div class="mb-3">
          <label>Email</label>
          <input type="email" name="email" class="form-control" required>
        </div>

        <div class="mb-3">
          <label>Password</label>
          <input type="password" name="password" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-dark w-100">Sign Up</button>

        <p class="text-center mt-3">
          Already have an account? <a href="/login">Login</a>
        </p>

      </form>
    </div>

  </div>
</div>
