<!-- HERO IMAGE SLIDER -->
<div class="swiper heroSwiper mb-4">

  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <img src="https://images.unsplash.com/photo-1551537482-f2075a1d41f2" class="banner-img">
    </div>

    <div class="swiper-slide">
      <img src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab" class="banner-img">
    </div>

    <div class="swiper-slide">
      <img src="https://images.unsplash.com/photo-1503341455253-b2e723bb3dbb" class="banner-img">
    </div>

  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>

</div>
