/* MAIN IMAGE */
  .main-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
  }
  .main-img:hover {
    transform: scale(1.03);
  }

  /* THUMBNAILS */
  .thumb-img {
    width: 100%;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.2s;
  }
  .thumb-img:hover {
    border: 2px solid black;
  }

  /* PRICE TAG */
  .price-tag {
    font-size: 2rem;
    font-weight: 700;
  }
  .rating-star {
    color: #feca57;
  }

  /* HIGHLIGHT BOX */
  .highlight-box {
    background: #f8f9fa;
    padding: 15px;
    border-radius: 10px;
  }

  .delivery-box {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 12px;
  }

  .btn-buy {
    background: #ff9f43;
    color: #fff;
    font-weight: bold;
  }
  .btn-buy:hover {
    background: #ff7f0c;
    color: #fff;
  }