.banner-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

@media (max-width: 576px) {
  .banner-img {
    height: 160px;
    border-radius: 10px;
  }
}

/* Hide arrows on mobile (optional) */
@media (max-width: 600px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
